@import "reset.less";
@import "mixins.less";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Exo:400,300,500,700);

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: Arial,Verdana,'Open Sans', sans-serif;
    .box-sizing(border-box);
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    overflow-y: auto;
}

ul, li, div, img, span {
    .box-sizing(border-box);
}


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

@tipicoRed: #D0202E;
@tipicoDarkRed: #921620;

body {
    position: relative;

    h1, h2, h3, h4 {
        font-family: Arial,Verdana,'Open Sans', sans-serif;
        font-weight: 500;
    }

    [ng-click] {
        cursor: pointer;
    }

    .align-left {
        text-align: left;
    }

    .align-right {
        text-align: right;
    }

    .align-center {
        text-align: center;
    }

    @media (orientation: portrait) {
        .rotate {
            display: none;
        }
    }

    .rotate {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 999;


        img {
            position: absolute;
            width: 100%;
            max-width: 342px;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }
    }

    header {
        @headerHeight: 13vw;
        background-color: @tipicoRed;
        height: @headerHeight;
        border-top: 1px solid @tipicoDarkRed;

        ul {
            height: 100%;
            border-bottom: 1px solid @tipicoDarkRed;
            list-style-type: none;
            font-size: 0;

            li {
                color: #fff;
                list-style-type: none;
                border-right: 1px solid @tipicoDarkRed;
                display: inline-block;
                .transform(skew(-12.5deg));
                height: 100%;
                vertical-align: middle;
                width: 23.5%;

                > div, > img, > span {
                    .transform(skew(12.5deg));
                }

                &:first-of-type {
                    width: 17%;
                    line-height: @headerHeight;
                }

                &:last-of-type {
                    border: none;
                    width: 11%;
                    line-height: @headerHeight;
                }

                .text-wrapper {
                    .sml-text, .big-text {
                        display: inline-block;
                        width: 100%;
                        text-align: center;
                        .text-overflow(ellipsis);
                        white-space: nowrap;
                        overflow: hidden;
                        padding: 0 5px;
                    }

                    .sml-text {
                        @height: 2.5vw;
                        line-height: @height;
                        height: @height+0.5vw;
                        font-size: @height;
                        margin-top: 2vw;
                    }

                    .big-text {
                        @height: 4.4vw;
                        font-size: @height;
                        line-height: @height;
                        height: @height;
                        margin-top: 1vw;
                    }
                }

                &.betting-score {
                    color: #68060E;
                }

                &.menu-left {
                    > div {
                        display: inline-block;
                        width: 50%;
                        height: 100%;
                    }

                    .burger-icon {
                        background-image: url('/img/menu/menu-icon.svg');
                        background-repeat: no-repeat;
                        background-position: -2.7vw 0;
                        width: 5.3vw;
                        height: 3.85vw;
                        display: inline-block;
                        vertical-align: middle;
                    }

                    .tipico-icon {
                        background-repeat: no-repeat;
                        background-image: url(/img/menu/tipico-logo.svg);
                        display: inline-block;
                        vertical-align: middle;
                        background-size: contain;
                        width: 4vw;
                        height: 5vw;
                    }
                }

                &.menu-right {
                    text-align: right;
                    float: right;

                    .burger-icon {
                        background-image: url('/img/menu/menu-icon-blk.svg');
                        background-repeat: no-repeat;
                        background-position: 2.7vw 0;
                        width: 5.3vw;
                        height: 3.85vw;
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }
        }
    }

    .content {
        .breadcrumb {
            color: #c1c1c1;
            background-color: #484848;

            ul {
                li {
                    .transform(skew(-12.5deg));
                    display: inline-block;
                    border-right: 1px solid #888888;
                    font-size: 3.5vw;
                    padding: 3.7vw 3vw;

                    &:last-of-type {
                        border-right: none;
                    }

                    > div {
                        .transform(skew(12.5deg));
                    }

                    &.breadcrumbBack {
                        .arrow {
                            color: #fff;
                            margin: 0 8px 0 0;
                            font-size: 4vw;
                            line-height: 4vw;
                        }
                    }
                }
            }
        }

        .tabs {
            ul {
                @borderColor: #fff;
                font-size: 0;
                background-color: #C6C6C6;
                border-top: 1px solid @borderColor;

                li {
                    .transform(skew(-12.5deg));
                    border-right: 1px solid @borderColor;
                    color: @borderColor;
                    font-size: 4vw;
                    display: inline-block;
                    width: 33%;
                    text-align: center;
                    height: 10vw;
                    line-height: 10vw;



                    &:last-of-type {
                        border-right: none;
                    }

                    > div {
                        .transform(skew(12.5deg));
                        white-space: nowrap;
                        overflow: hidden;
                        .text-overflow(ellipsis);
                        width: 100%;
                    }

                    .active {
                        color: #484848;
                    }
                }
            }
        }

        .oddsctrl-wrapper {
            .pitch-container {
                position: relative;

                .overflow {
                    position: absolute;
                    width: 0;
                    height: 0;
                    left: 16.5%;
                    margin-left: -10px;
                    border-left: 10px solid transparent;
                    border-right: 10px solid transparent;
                    border-bottom: 10px solid #77A5B4;
                    top: -9px;
                }

                .item {
                    position: absolute;
                    color: #fff;
                    @width: 8.5%;

                    &.matchtime, &.live {
                        left: 2%;
                        width: @width;
                        text-align: center;
                    }

                    &.matchtime {
                        top: 9%;
                        font-weight: 500;
                        @fontsize: 6vw;
                        font-size: @fontsize;
                        height: @fontsize;
                        line-height: @fontsize;
                    }

                    &.live {
                        top: 22%;
                        text-transform: uppercase;
                        @fontsize: 3.5vw;
                        font-size: @fontsize;
                        line-height: @fontsize;
                        height: @fontsize;
                    }

                    &.team1, &.team2 {
                        @fontsize: 6vw;
                        left: 15%;
                        font-size: @fontsize;
                        height: @fontsize;
                    }

                    &.team1 {
                        top: 5%;
                    }

                    &.team2 {
                        top: 17%;
                    }

                    &.livescore-team1, &.livescore-team2 {
                        @fontsize: 6vw;
                        right: 5%;
                        font-size: @fontsize;
                        height: @fontsize;
                        font-weight: 700;
                    }

                    &.livescore-team1 {
                        top: 5%;
                    }

                    &.livescore-team2 {
                        top: 17%;
                    }

                    &.liveevent-action {
                        @fontsize: 5vw;
                        bottom: 20%;
                        width: 100%;
                        text-align: center;
                        text-transform: capitalize;
                        font-size: @fontsize;
                        line-height: @fontsize;
                        height: @fontsize;
                        font-weight: 700;
                    }

                    &.liveevent-team {
                        @fontsize: 3vw;
                        bottom: 13%;
                        width: 100%;
                        text-align: center;
                        text-transform: capitalize;
                        font-weight: 700;
                        font-size: @fontsize;
                        height: @fontsize;
                        line-height: @fontsize;
                    }

                    &.goalkick-left {
                        bottom: 36%;
                        left: 5%;
                    }

                    &.goalkick-right {
                        bottom: 36%;
                        right: 5%;
                    }

                    &.ongoal-left {
                        left: 20%;
                        bottom: 30%;
                    }

                    &.ongoal-right {
                        right: 20%;
                        bottom: 30%;
                    }

                    &.penalty-left {
                        left: 10%;
                        bottom: 36%;
                    }

                    &.penalty-right {
                        right: 10%;
                        bottom: 36%;
                    }

                    &.freekick-left {
                        left: 30%;
                        bottom: 33%;
                    }

                    &.freekick-right {
                        right: 30%;
                        bottom: 33%;
                    }
                }

                #pitch-live {
                    width: 100%;
                }
            }

            @gutter: 4vw;

            .latest-update {
                background: #484848;
                @fontsize: 3vw;
                font-size: @fontsize;
                line-height: @fontsize;
                color: darkgrey;
                text-transform: uppercase;
                padding: @fontsize @gutter;
            }

            .odds {
                display: inline-block;

                .row {
                    padding: 2vw 0 2vw @gutter;
                    background-color: #fff;
                    color: #5c5c5c;
                    font-size: 0;
                    border-bottom: 1px solid #ebebeb;
                    float: left;
                    width: 100%;

                    &:last-of-type {
                        border-bottom: 0;
                    }

                    .left {
                        float: left;
                        max-width: 61%;
                    }

                    .right {
                        //display: inline-block;
                        //width: 63%;
                        float: right;
                    }

                    .title, .item {
                        display: inline-block;
                        vertical-align: middle;
                        font-size: 4.3vw;
                        line-height: 4.3vw;
                    }

                    @topBottomPadding: 2vw;

                    .title {
                        width: 100%;
                        white-space: nowrap;
                        overflow: hidden;
                        padding: @topBottomPadding 0;
                        .text-overflow(ellipsis);
                    }

                    .item {
                        @borderRadius: 3px;
                        border: 1px solid #cdcdcd;
                        padding: @topBottomPadding 2vw;
                        border-right-width: 0;
                        background-color: #ffffff;
                        .transition(background 1000ms);

                        &:first-of-type {
                            border-top-left-radius: @borderRadius;
                            border-bottom-left-radius: @borderRadius;
                        }

                        &[data-active='true'] {
                            background-color: #b0d7e4;
                        }

                        .name, .value {
                            display: inline-block;
                        }

                        .name {
                            margin: 0 1vw 0 0;
                        }
                    }
                }
            }
        }
    }





    .width {
        display: inline-block;
        vertical-align: top;
        font-size: 0;
    }

    &[data-active='main'] {
        #main {
            width: 100%;
        }

        #betslip {
        }
    }

    &[data-active='betslip'] {
        #main {
            width: 100%;
            .transform(translateX(-90%));

            .backToMain {
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
            }
        }

        #betslip {
            left: 10%;
        }
    }


    #main, #betslip {
        .transition(~"width 1s, transform 1s, left 1s");
    }

    #main {
        overflow: hidden;
        overflow-y: auto;
        z-index: 2;
        position: relative;
        height: 100%;
        .box-shadow(0 0 10px #000000);

        .backToMain {
            display: none;
        }
    }

    #betslip {
        height: 100%;
        position: absolute;
        width: 90vw;
        overflow: hidden;
        overflow-y: scroll;
        left: 100%;
        top: 0;
        z-index: 1;
        background-color: #454545;
        color: #868686;
        font-size: 0;
        padding: 0 0 51.5vw 0;




        > div {
            font-size: 20px;

            .balance {
                margin: 2vw 0 0 0;
                text-align: center;
                font-size: 4vw;
                color: #868686;
            }

            .tabs {
                display: inline-block;
                width: 100%;
                text-align: center;

                ul {
                    display: inline-block;
                    border: 1px solid #fff;
                    color: #fff;
                    border-radius: 3px;
                    margin: 2vw 0 0 0;
                    line-height: 0;
                    font-size: 0;

                    li {
                        border-right: 1px solid #fff;
                        font-size: 4vw;
                        display: inline-block;
                        padding: 1.8vw 4.5vw;

                        &:last-of-type {
                            border-right: 0;
                        }

                        &.active {
                            color: #454545;
                            background-color: #fff;
                        }
                    }
                }
            }

            #betslip-submitted {
                background-color: #C3E89D;
                color: #6F9349;
                text-align: left;
                padding: 3vw 0;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                opacity: 0;
                .transition(opacity 1s);

                &[data-active=true] {
                    opacity: 1;
                }

                span {
                    font-size: 4vw;
                    vertical-align: middle;
                    display: inline-block;
                    line-height: 0;

                    img {
                        max-width: 46px;
                        max-height: 46px;
                        .border-radius(100%);
                        margin: 0 1vw 0 5vw;
                        width: 10vw;
                        height: 10vw;
                    }
                }
            }

            .no-bets-notif {
                position: relative;
                background-color: #ffff99;
                color: #454545;
                font-size: 4vw;
                line-height: 4vw;
                padding: 6vw 0;
                margin: 2vw 0 0 0;
                width: 100%;
                text-align: center;
            }

            @backColor: #303030;

            .checkout {
                background-color: @backColor;
                @borderTop: 1px solid #555555;
                @gutter: 3vw;
                font-size: 0;
                position: fixed;
                bottom: 0;
                width: 90%;

                .number-of-bets {
                    background-color: @backColor;
                    display: inline-block;
                    width: 100%;
                    padding: 3vw @gutter;
                    border-top: @borderTop;
                    line-height: 3vw;
                    color: #999999;

                    .label {
                        float: left;
                        font-size: 4vw;
                    }

                    .amount {
                        float: right;
                        font-weight: 700;
                        font-size: 4vw;
                    }
                }

                .wager {
                    background-color: @backColor;
                    border-top: @borderTop;
                    display: inline-block;
                    width: 100%;
                    padding: 0 @gutter;

                    .label, .input-amount {
                        line-height: 8vw;
                        height: 100%;
                        margin: 2vw 0;
                    }

                    .label {
                        float: left;
                        font-size: 5vw;
                        color: #fff;
                    }

                    .input-amount {
                        float: right;
                        font-size: 5vw;
                        background-color: #fff;
                        color: #303030;
                        padding: 1vw;
                        max-width: 32vw;
                        min-width: 25vw;
                        text-align: right;
                        border-radius: 5px;
                    }
                }

                .total-wager {
                    background-color: @backColor;
                    display: inline-block;
                    width: 100%;
                    padding: 0 @gutter;

                    .label, .input-amount {
                        line-height: 8vw;
                        height: 100%;
                        margin: 2vw 0;
                    }

                    .label {
                        float: left;
                        font-size: 5vw;
                        color: #fff;
                    }

                    .input-amount {
                        float: right;
                        font-size: 5vw;
                        color: #fff;
                        background-color: #303030;
                        padding: 1vw;
                        max-width: 50vw;
                        text-align: right;
                        border-radius: 5px;
                    }
                }

                .possible-gain {
                    background-color: @backColor;
                    display: inline-block;
                    width: 100%;
                    padding: 0 @gutter;

                    .label, .input-amount {
                        line-height: 8vw;
                        height: 100%;
                        margin: 2vw 0;
                    }

                    .label {
                        float: left;
                        font-size: 5vw;
                        color: #fff;
                    }

                    .input-amount {
                        float: right;
                        font-size: 5vw;
                        color: #fff;
                        background-color: #303030;
                        padding: 1vw;
                        max-width: 50vw;
                        text-align: right;
                        border-radius: 5px;
                    }
                }

                .actions {
                    background-color: @backColor;
                    font-family: 'Exo', sans-serif;
                    border-top: @borderTop;
                    display: inline-block;
                    width: 100%;
                    text-transform: uppercase;
                    font-weight: 300;

                    .clear, .place-bet {
                        font-size: 6vw;
                        display: inline-block;
                        padding: 4.5vw 0;
                    }

                    .clear {
                        padding: 0 @gutter;
                        color: #555555;
                        width: 30%;
                    }

                    .place-bet {
                        background-color: @tipicoRed;
                        width: 70%;
                        text-align: right;


                        span {
                            color: #fff;
                            vertical-align: middle;
                            display: inline-block;

                            &:first-of-type {
                                width: 75%;
                                text-align: center;
                            }

                            &:last-of-type {
                                @size: 8vw;
                                font-weight: 300;
                                width: @size;
                                height: @size;
                                display: inline-block;
                                font-size: @size - 1vw;
                                line-height: @size - 4vw;
                                border-radius: 100%;
                                border: 1px solid #fff;
                                padding: 2vw;
                                text-align: center;
                                margin: 0 @gutter;
                            }
                        }
                    }
                }
            }

            .selectedOdds {
                background-color: @backColor;

                .row {
                    background-color: #454545;
                    font-size: 0;
                    position: relative;
                    border-bottom: 1px solid #303030;

                    &:last-of-type {
                        border-bottom: 0;
                    }

                    .left {
                        width: ~"calc(100% - 8vw)";
                        display: inline-block;
                        color: #fff;
                        padding: 2vw 6vw 2vw 2vw;

                        .title {
                            font-size: 5.5vw;
                            width: 100%;
                            display: inline-block;
                            text-align: left;
                            .text-overflow(ellipsis);
                            white-space: nowrap;
                            overflow: hidden;
                        }

                        .bet-details {
                            .type {
                                font-size: 3.5vw;
                                float: left;
                            }

                            .value {
                                font-size: 3.5vw;
                                float: right;
                                margin-right: 2vw;
                            }
                        }
                    }

                    .right {
                        .transition(all 1s);
                        position: absolute;
                        right: 0;
                        top: 0;
                        width: 6vw;
                        height: 100%;
                        background-color: #666666;
                        color: #454545;
                        font-size: 4vw;
                        line-height: 4vw;

                        .arrow {
                            .transition(all 1s);
                            position: absolute;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            right: 0;
                            width: 100%;
                            height: 100%;
                            margin: auto;
                            line-height: 16vw;
                            text-align: center;
                        }

                        .remove {
                            .transition(all 1s);
                            position: absolute;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            right: 0;
                            width: 0;
                            height: 0;
                            overflow: hidden;
                            line-height: 13vw;
                            text-align: center;
                            color: #fff;
                        }

                        &[data-active='true'] {
                            width: 100%;
                            background-color: @tipicoRed;


                            .remove {
                                opacity: 1;
                                width: 100%;
                                height: 100%;
                            }

                            .arrow {
                                opacity: 0;
                            }
                        }
                    }
                }
            }

            .keypad {
                color: #fff;
                background-color: #666666;
                @border: 1px solid #454545;
                display: inline-block;
                width: 100%;
                position: absolute;
                text-align: center;
                font-size: 0;
                bottom: 0;
                left: 0;
                opacity: 0.7;
                overflow: hidden;
                z-index: -1;
                .transition(~"bottom 1s, opacity 500ms");

                &[data-active='true'] {
                    bottom: 100%;
                    //z-index: 1;
                    opacity: 1;
                }


                .close {
                    display: inline-block;
                    width: 100%;
                    font-size: 4vw;
                    padding: 3vw 0;
                    border-bottom: @border;
                }

                .row {
                    display: inline-block;
                    width: 100%;
                    border-bottom: @border;
                    font-size: 0;

                    .number {
                        font-size: 4.3vw;
                        line-height: 4vw;
                        padding: 4vw 0;
                        font-weight: 400;
                        border-right: @border;
                        display: inline-block;
                        width: 33%;
                        vertical-align: middle;
                        position: relative;

                        &:last-of-type {
                            border-right: 0;
                        }

                        span {
                            @size: 6vw;
                            background-color: #303030;
                            color: #666666;
                            display: inline-block;
                            margin: auto;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            position: absolute;
                            width: @size;
                            height: @size;
                            line-height: @size;
                            border-top-right-radius: 2px;
                            border-bottom-right-radius: 2px;
                            padding: 0 1vw 0 0;
                            z-index: 1;



                            &:after {
                                position: absolute;
                                content: "";
                                right: 62%;
                                background-color: #303030;
                                width: 72%;
                                height: 72%;
                                border-radius: 3px;
                                .transform(rotate(45deg));
                                display: inline-block;
                                z-index: -1;
                                top: 0;
                                bottom: 0;
                                margin: auto;
                            }
                        }

                        &.pressed {
                            background-color: #484848;
                        }
                    }
                }
            }
        }
    }
}
